<div class="row">
<div class="col-md-4">
<img src="{{electrodomestico.image}}"  width="350" alt="..." class="img-rounded">
<h3>{{electrodomestico.name}}</h3>
<p>{{electrodomestico.price}}</p> 
<p>{{electrodomestico.brand}}</p> 
<p>{{electrodomestico.promotion}}</p> 

<a class="btn btn-primary" href="#" role="button">Agregar</a>

</div>
<div class="col-md-4">
    <img src="{{electrodomestico.image}}"  width="350" alt="..." class="img-rounded">
    <h3>{{electrodomestico.name}}</h3>
    <p>{{electrodomestico.price}}</p> 
    <p>{{electrodomestico.brand}}</p> 
    <p>{{electrodomestico.promotion}}</p> 

    <a class="btn btn-primary" href="#" role="button">Agregar</a>

    </div>
    <div class="col-md-4">
            <img  class="swiper-lazy swiper-lazy-loaded" width="350" src="{{electrodomestico.image}}">
            <h3>{{electrodomestico.name}}</h3>
            <p>{{electrodomestico.price}}</p> 
            <p>{{electrodomestico.brand}}</p> 
            <p>{{electrodomestico.promotion}}</p> 

            <a class="btn btn-primary" href="#" role="button">Agregar</a>
    </div>
    <div class="col-md-4">
        <img  class="swiper-lazy swiper-lazy-loaded" width="350" src="{{electrodomestico.image}}">
        <h3>{{electrodomestico.name}}</h3>
        <p>{{electrodomestico.price}}</p> 
        <p>{{electrodomestico.brand}}</p> 
        <p>{{electrodomestico.promotion}}</p> 

        <a class="btn btn-primary" href="#" role="button">Agregar</a>
</div>
<div class="col-md-4">
    <img  class="swiper-lazy swiper-lazy-loaded" width="350" src="{{electrodomestico.image}}">
    <h3>{{electrodomestico.name}}</h3>
    <p>{{electrodomestico.price}}</p> 
    <p>{{electrodomestico.brand}}</p> 
    <p>{{electrodomestico.promotion}}</p> 

    <a class="btn btn-primary" href="#" role="button">Agregar</a>
</div>
<div class="col-md-4">
    <img  class="swiper-lazy swiper-lazy-loaded" width="350" src="{{electrodomestico.image}}">
    <h3>{{electrodomestico.name}}</h3>
    <p>{{electrodomestico.price}}</p> 
    <p>{{electrodomestico.brand}}</p> 
    <p>{{electrodomestico.promotion}}</p> 

    <a class="btn btn-primary" href="#" role="button">Agregar</a>
</div>
        </div>