<div class="row">
<div class="col-md-4" *ngFor="let appliance of appliances">
    <img src="{{appliance.image}}"  width="350" alt="..." class="hoverImage">
    <h3 >{{appliance.name}}</h3>
    <p>{{appliance.price}}</p> 
    <p>{{appliance.brand}}</p> 
    <p>{{appliance.promotion}}</p> 
    <p><span *ngIf="appliance.Stock==0" class="badge badge-warning">SIN STOCK</span></p>
    <app-input-integer [appliance]="appliance.quantity" (maxReached)="maxReached($event)" [max]="appliance.Stock"></app-input-integer>
    <button class="btn btn-primary"  (click)= addToCart(appliance)>Agregar</button>

    </div>
        </div>